page-report {

    #center{
        text-align: center;
        padding: 50px 0;
    }

    .butn{
        font-weight: bolder;
        
        height: 60px;
       // width: 40%;
    }

    #head{
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        padding: 50px 0;
    }



    //
    


}
